In [1]:
#!pip selenium

import datetime as dt
import pandas as pd
import numpy as np

import os
from openpyxl import Workbook
from openpyxl import load_workbook
import time
import glob
from selenium.webdriver.common.by import By
import datetime as dt
from pathlib import Path
import shutil
import pymysql


from selenium import webdriver
from selenium.webdriver.common.keys import Keys

# URL
url = 'https://www.airportal.go.kr/life/airinfo/FlightScheduleToExcel.jsp'
now = time

# 아이디 비밀번호
site_id = "kkj214"
site_pw = "rudwnsrudwns0214"

In [4]:
def get_flight(start_date,end_date) :
    import calendar
    
    # 웹드라이버 열기
    driver = webdriver.Chrome(r"{}\chromedriver.exe".format(os.getcwd()))
    driver.get(url)
    
    def get_path(path) : 
        return driver.find_element(by = By.CSS_SELECTOR, value = path)
    
    # 날짜 지정
    #rct3 = pd.date_range(start=yesterday.strftime('%Y%m%d'), end=yesterday.strftime('%Y%m%d'))
    rct3 = pd.date_range(start=start_date, end=end_date)
    dt_list = rct3.strftime("%Y%m%d").to_list()

    start = time.time()  # 시작 시간 저장


    # 날짜 검색창 Xpath
    xpath_text = '//*[@id="dateStart"]/div/input'
    # 검색하기 버튼
    xpath_search = '//*[@id="realContents"]/div/div[2]/div[1]/div[1]/a[2]'
    # 다운로드 버튼
    xpath_download = '//*[@id="realContents"]/div/div[2]/div[1]/div[1]/a[1]'
    # 출발 체크
    xpath_arrival = '//*[@id="realContents"]/div/div[2]/div[1]/div[2]/div/div/div[1]/label[2]/div/ins'
    try:
        driver.find_element(by = By.XPATH, value = '//*[@id="layer_popup_info_1"]/div[1]/a').click()
        time.sleep(1)
        driver.find_element(by = By.XPATH, value = '//*[@id="layer_popup_info_0"]/div[1]/a').click()
    except:
        print("로그인 창이 없습니다.")

    # 로그인 확인!!
    xpath_id = "/html/body/form/table[3]/tbody/tr[2]/td[2]/table[3]/tbody/tr/td[1]/table/tbody/tr[2]/td[2]/table/tbody/tr/td[1]/table[1]/tbody/tr/td[3]/input"
    xpath_pw = '/html/body/form/table[3]/tbody/tr[2]/td[2]/table[3]/tbody/tr/td[1]/table/tbody/tr[2]/td[2]/table/tbody/tr/td[1]/table[2]/tbody/tr/td[3]/input'
    xpath_login = '/html/body/form/table[3]/tbody/tr[2]/td[2]/table[3]/tbody/tr/td[1]/table/tbody/tr[2]/td[2]/table/tbody/tr/td[2]/input'
    driver.find_element(by = By.XPATH, value =xpath_id).send_keys('{}'.format(site_id)) 
    driver.find_element(by = By.XPATH, value =xpath_pw).send_keys('{}'.format(site_pw))

    # 임시로 생성한 아이디, 비밀번호
    driver.find_element(by = By.XPATH, value =xpath_login).click()

    ## 데이터 xpath
    #xpath_data = '//*[@id="mySheet-table"]/tbody/tr[3]/td/div/div[1]/table/tbody/tr[101]/td[14]'

    date_check = '#mySheet-table > tbody > tr:nth-child(3) > td > div > div.GMPageFirst > table > tbody > tr:nth-child(2) > td.GMClassReadOnly.GMWrap0.GMAlignCenter.GMText.GMCell.IBSheetFont0.HideCol0C2'
    
    # 날짜 지정 및 파일 다운로드
    print(int(start_date/100), int(end_date/100)+1)
    for month in range(int(start_date/100), int(end_date/100)+1) :
        print(month)
        get_path("#dateStart > div > input").click()
        get_path("#dateStart > div > input").clear()
        get_path("#dateStart > div > input").send_keys(month)
        get_path("#dateStart > div > input").send_keys('01')
        get_path("#dateStart > div > input").send_keys(Keys.RETURN)
        get_path("#dateStart > div > input").send_keys(Keys.BACKSPACE *8)
        get_path("#dateStart > div > input").send_keys(month)
        get_path("#dateStart > div > input").send_keys('01')
        get_path("#dateStart > div > input").send_keys(Keys.TAB)

        get_path("#dateEnd > div > input").send_keys(month)
        get_path("#dateEnd > div > input").send_keys(Keys.RETURN)
        get_path("#dateEnd > div > input").send_keys(Keys.BACKSPACE *2)
        get_path("#dateEnd > div > input").send_keys(str(calendar.monthrange(2022, int(str(month)[4:]))[1]))
        get_path("#dateEnd > div > input").send_keys(Keys.BACKSPACE *8)
        get_path("#dateEnd > div > input").send_keys(month)
        get_path("#dateEnd > div > input").send_keys(str(calendar.monthrange(2022, int(str(month)[4:]))[1]))
        get_path("#realContents > div > div.conLy > div.SearchArea01 > div.mainSearchBtnArea > a.mainSearchBtn").click()
        time.sleep(5)
        get_path("#realContents > div > div.conLy > div.SearchArea01 > div.mainSearchBtnArea > a.mainExcellBtn").click()
        time.sleep(10)
    time.sleep(15)
    #return '완료'

In [ ]:
get_flight(20221101, 20221231)

In [6]:
# 오늘 날짜 폴더 추가
os.mkdir("{}/Downloads/항공편_{}".format("/".join(os.getcwd().split("\\")[:-2]),dt.datetime.today().strftime('%m%d')))

In [10]:
# 다운된 파일 경로 변경
file_source = r"{}/Downloads/".format("/".join(os.getcwd().split("\\")[:-2]))
file_destination =r'{}/Downloads/항공편_{}/'.format("/".join(os.getcwd().split("\\")[:-2]),dt.datetime.today().strftime('%m%d'))

for file in Path(file_source).glob("항공기출도착현황*.xlsx"):
    shutil.move(os.path.join(file_source,file),file_destination)


# 파일 불러오기
try:
    path = r'{}/Downloads/항공편_{}/'.format("/".join(os.getcwd().split("\\")[:-2]),dt.datetime.today().strftime('%m%d'))
    files = glob.glob(path + "항공기출도착현황*.xlsx")
    excel = pd.DataFrame()
    for file_name in files:
        df = pd.read_excel(file_name)
        excel = excel.append(df, ignore_index=True)

except Exception as ex:
    print('error' + str(ex))
    
excel = excel[~excel['출발공항명'].isin(['제주','김해','대구','김포'])].drop_duplicates()
excel = excel[excel['구분'] == '여객'].sort_values(['날짜','계획시간'])

c:\Users\REDTABLE\Anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:221: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [11]:
conn = pymysql.connect(host='db-7ma06.pub-cdb.ntruss.com', user='redtable_openapi', password='fpemxpdlqmf5491!@#',
                       autocommit=True,cursorclass=pymysql.cursors.DictCursor
                      )
cursor = conn.cursor()


# 공항코드 -> 국가 매칭
start = time.time()
sql = """
SELECT DISTINCT A.AR_CODE , A.NATION
FROM redtable_raw_2022.AIR_PORTAL A
"""
cursor.execute(sql)
na_dic = dict(pd.DataFrame(cursor.fetchall()).values)


# 공항코드 -> 대륙 매칭
start = time.time()
sql = """
SELECT DISTINCT A.AR_CODE , A.CONTINENT
FROM redtable_raw_2022.AIR_PORTAL A
"""
cursor.execute(sql)
co_dic = dict(pd.DataFrame(cursor.fetchall()).values)

# 편당 탑승인원
start = time.time()
sql = """
SELECT F.NTN_NM , F.AIR_TOURIST_RT
FROM redtable_raw_2022.FOREIGN_VISITOR F
WHERE F.AIR_DT = (SELECT max(F.AIR_DT)
FROM redtable_raw_2022.FOREIGN_VISITOR F)
"""
cursor.execute(sql)
rate_dic = dict(pd.DataFrame(cursor.fetchall()).values)

conn.close()
cursor.close()

print('쿼리 완료', "\n쿼리 작동 시간 :", time.time() - start)  # 현재시각 - 시작시간 = 실행 시간   


excel['출발국가']   = excel['출발공항코드'].apply(lambda x : na_dic.get(x))
excel['출발대륙']   = excel['출발공항코드'].apply(lambda x : co_dic.get(x))
excel['편당탑승객'] = excel['출발국가'].apply(lambda x : rate_dic.get(x))
excel = excel.sort_values(['날짜','계획시간'],ascending=[True,True])
excel['년월'] = excel['날짜'].apply(lambda x : int(str(x)[:6]))
og = excel.iloc[:,:-2].copy()

쿼리 완료
쿼리 작동 시간 : 0.00899958610534668

In [12]:
excel

,출/도착구분,날짜,항공사,편명,출발공항코드,출발공항명,도착공항코드,도착공항명,계획시간,예상시간,도착시간,구분,현황,출발국가,출발대륙,편당탑승객,년월
42151,도착,20221101,비엣제트 항공,VJ978,PQC,푸꾸옥,ICN,인천,00:30,00:20,00:20,여객,도착,베트남,아시아주,36.84025974025974,202211
42168,도착,20221101,대한항공,KE012,LAX,로스앤젤레스,ICN,인천,04:10,04:16,04:16,여객,도착,미국,북아메리카주,98.60968229954614,202211
42169,도착,20221101,제주항공,7C2306,MNL,마닐라,ICN,인천,04:10,03:50,03:37,여객,도착,필리핀,아시아주,45.68028846153846,202211
42170,도착,20221101,대한항공,KE624,MNL,마닐라,ICN,인천,04:20,03:59,03:59,여객,도착,필리핀,아시아주,45.68028846153846,202211
42171,도착,20221101,대한항공,KE658,BKK,수안나폼(방콕),ICN,인천,04:20,04:24,04:24,여객,도착,태국,아시아주,47.656462585034014,202211
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42135,도착,20230326,티웨이항공,TW502,SYD,시드니,ICN,인천,21:05,:,:,여객,NaN,오스트레일리아,오세아니아주,243.55882352941177,202303
42136,도착,20230327,대한항공,KE012,LAX,로스앤젤레스,ICN,인천,04:10,:,:,여객,NaN,미국,북아메리카주,98.60968229954614,202303
42137,도착,20230327,아시아나항공,OZ203,LAX,로스앤젤레스,ICN,인천,04:20,:,:,여객,NaN,미국,북아메리카주,98.60968229954614,202303
42138,도착,20230327,아시아나항공,OZ211,SFO,샌프란시스코,ICN,인천,04:30,:,:,여객,NaN,미국,북아메리카주,98.60968229954614,202303
42139,도착,20230327,대한항공,KE086,JFK,뉴욕,ICN,인천,05:45,:,:,여객,NaN,미국,북아메리카주,98.60968229954614,202303

# DB 등록

## AIR_PORTAL

In [13]:
conn = pymysql.connect(host='db-7ma06.pub-cdb.ntruss.com', user='redtable_openapi', password='fpemxpdlqmf5491!@#',
                       autocommit=True,cursorclass=pymysql.cursors.DictCursor
                      )
#curs = conn.cursor()
cursor = conn.cursor()

start = time.time()

# 중복 날짜 삭제
sql = """
DELETE
FROM redtable_raw_2022.AIR_PORTAL
WHERE DATE IN {}
""".format(tuple(og['날짜'].unique()))
cursor.execute(sql)

# 중복 날짜 조회
sql = """
SELECT *
FROM redtable_raw_2022.AIR_PORTAL
WHERE DATE IN {}
""".format(tuple(og['날짜'].unique()))
cursor.execute(sql)
result = pd.DataFrame(cursor.fetchall())
conn.close()
cursor.close()
result.head()
print('쿼리 완료', "\n쿼리 작동 시간 :", time.time() - start)  # 현재시각 - 시작시간 = 실행 시간

쿼리 완료
쿼리 작동 시간 : 3.5800015926361084

In [14]:
# AIR_PORTAL DB에 저장
def save_to_AIR_PORTAL(data) :
    db_cols = 'AIR_AR_DP,DATE,AIR,AIR_NUM,AR_CODE,AR_AIRPORT_NM,DP_CODE,DP_AIRPORT_NM,EX_TIME,EX1_TIME,DP_TIME,OPTION1,LIVE,NATION,CONTINENT'
    df_result = data.drop_duplicates().fillna(np.nan).replace(["\\N"], [None]).replace([np.nan], [None])
    conn = pymysql.connect(host='db-7ma06.pub-cdb.ntruss.com', user='redtable', password='fpemxpdlqmf5491!@#'
                          ,autocommit=True #, cursorclass=pymysql.cursors.DictCursor
                          )
    curs = conn.cursor()
    sql  = 'INSERT INTO redtable_raw_2022.AIR_PORTAL({}) VALUES(%s{});'.format(db_cols,",%s" * 14)
    val = list(map(lambda x : tuple(x), df_result.values))
    curs.executemany(sql,val)
    curs.close()
    conn.close()
    return 'DB 등록 완료'


save_to_AIR_PORTAL(og)

'DB 등록 완료'